<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>쿵쿵따게임</title>
</head>
<body>
    <!--
        쿵쿵따 게임 만들기
        1. 입력할 수있는 단어를 세글자로 고정
        2. 세글자가 아니라면 다시 입력
        3. 초반에 prompt() 사용 -> 몇 명이 참가할지를 선택
            사용자가 취소를 누르면 다음 코드가 실행되지 않게 처리
     -->
    <div><span id="order">1</span>번째 참가자</div>
    <div>제시어 : <span id="word"></span></div>
    <input type="text">
    <button>입력</button>

<script>
    const $input = document.querySelector('input');
    const $word = document.querySelector("#word");
    const $order = document.querySelector('#order');
    let word;
    let newWord;

    const num = parseInt(prompt('몇 명이 참가하시나요?'));
    // Nan은 if문에 들어가면 false
    if(num) {
        // 버튼 클릭시
        const onclickButton = () => {
            console.log('input',$input.value);
            if($input.value != "") {
                // 제시어가 비어있지 않거나 단어가 올바르고 단어 수가 3글자이면
                console.log('입력값 길이',$input.value.length);
                if(!word || word[word.length - 1] === newWord[0]) {
                    if($input.value.length == 3) {
                        word = newWord;
                        $word.textContent = word;
                        $input.value = '';
                        $input.focus();
                    } else {
                        alert('단어 수는 세글자 입니다.');
                        $input.focus();
                    }

                    const order = parseInt($order.textContent);   // 문자열을 int 로 : 현재순서
                    if(order + 1 > num) {
                        $order.textContent = 1;
                    } else {
                        $order.textContent = order + 1;
                    }
                } else {
                    alert('단어는 세글자로 입력해 주십시오.');
                    $input.focus();
                }

            } else {
                alert('단어가 올바르지 않습니다.');
                $input.focus();
            }

        }
        const onInput = function (event) {
            console.log('값 출력', event.target.value);
            newWord = event.target.value;
        }
        // input 태그에 글자를 쓰거나 입력을 하면
        document.querySelector('input').addEventListener('input', onInput);
        // 버튼태그를 클릭하면
        document.querySelector('button').addEventListener('click', onclickButton);

    }
    // 숫자 입력 없이 확인이나 취소 누르면 NaN


</script>
</body>

</html>